body{

    margin:0;
    padding:0;
    font-family:Segoe UI, sans-serif;
    background:#f4f6f9;

}


/* LOGIN PAGE */

.login-container{

    width:450px;
    margin:150px auto;
    padding:40px;
    background:white;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,.1);

}





/* APPLICATION LAYOUT */

.sidebar{

    position:fixed;

    top:0;
    left:0;
    bottom:0;

    width:260px;

    padding:30px;

    background:#1f2937;

    color:white;

    overflow-y:auto;

    box-sizing:border-box;

}





.content{

    margin-left:260px;

    padding:50px;

    min-height:100vh;

    box-sizing:border-box;

}





/* NAVIGATION BUTTONS */

.sidebar button{

    display:block;

    width:100%;

    padding:15px;

    margin-bottom:10px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

}





button{

    padding:15px 25px;

    font-size:16px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}





button:hover{

    opacity:.9;

}





hr{

    margin-top:25px;

    margin-bottom:25px;

}
